<footer>
        <div id="content-wrapper">
            <div class="panel-overlay content-well">
                <div id="footer-logo-wrapper">
                    <img id="footer-logo" src="{{ .Site.Data.footer.contents.image }}" />
                </div>
                {{ with .Site.Menus.main }}
                <nav id="footerNav">
                    <ul>
                    {{ range . }}
                        <!--<li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>-->
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                    </ul>
                </nav>
            {{ end }}  
                <div id="sponsor-intro">
                    {{ .Site.Data.footer.contents.sponsorText }}
                </div>
                <ul id="sponsor-logos">
                    {{ range .Site.Data.footer.contents.sponsorLogos.logo }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </footer>