<footer>
        <div id="content-wrapper">
            <div class="panel-overlay content-well">
                <div id="footer-logo-wrapper">
                    <a href="/"><img id="footer-logo" src="/images/tl-website-logo-vert.svg" /></a>
                </div>
                {{ with .Site.Menus.main }}
                <nav id="footerNav">
                    <ul>
                    {{ range . }}
                        <!--<li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>-->
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                    </ul>
                </nav>
            {{ end }}  
                <div id="subfooter">
                    <div id="copyright">
                        <h6>{{ .Site.Data.footer.contents.sponsorText }}<br/>
                        Site by <a href="https://hyperobjekt.com" target="_blank">Hyperobjekt</a></h6>
                    </div>
                    <div id="footersocial">Social media links here</div>
                </div>    
            </div>
        </div>
        <script src="/js/lib.min.js"></script>
        <script src="/js/main.js?{{ now.Unix }}"></script>        
    </footer>