<div id="newsletter">
    <div id="content-wrapper">
        <div class="panel-overlay content-well">
            <div id="newsletter-cta">
                <p class="cta-span">
                    {{ .Site.Data.newsletter.contents.cta }}
                </p>
            </div>
            <div id="newsletter-form">
                <form>
                    <input type="text" class="newsform-input" name="newsemail" placeholder="{{ .Site.Data.newsletter.contents.email }}" />
                    <input type="submit" class="news-signup" value="{{ .Site.Data.newsletter.contents.button }}" />
                </form>
            </div>
        </div>
    </div>
</div>