<div id="newsletter">
    <div id="content-wrapper">
        <div class="panel-overlay content-well">
            <div id="newsletter-cta">
                <span class="cta-span">
                    {{ .Site.Data.newsletter.contents.cta }}
                </span>
            </div>
            <div id="newsletter-form">
                <span class="newsform-span">
                    {{ .Site.Data.newsletter.contents.email }}
                </span>
                <button class="news-signup">
                    {{ .Site.Data.newsletter.contents.button }}
                </button>
            </div>
        </div>
    </div>
</div>