<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <!--<base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">-->
    {{ $.Scratch.Set "description" "We're a nonprofit organization that works to close the educational opportunity gap through teacher-led professional learning." }}
    {{ if .Params.socialDescription }}
			{{ $.Scratch.Set "socialDescription" .Params.socialDescription }}
		{{ end }}
    <!-- General metadata -->
		<meta name="description" content="{{ $.Scratch.Get "description" }}" />
    <meta name='author' content='Teaching Lab' />
    <!-- Facebook metadata -->
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ .Title }}" />
		{{ if .Params.socialDescription }}
		<meta property="og:description" content="{{ $.Scratch.Get "socialDescription" }}" />
		{{ else }}
		<meta property="og:description" content="{{ $.Scratch.Get "description" }}" />
		{{ end }}
		<meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="Teaching Lab" />
    <meta property="og:image" content="https://teachinglab.org/images/social/socialcard1.jpg" />
		<meta property="og:image:secure_url" content="https://teachinglab.org/images/social/socialcard1.jpg" />
		<!-- Twitter metadata -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@TeachingLabHQ" />
		<meta name="twitter:title" content="{{ .Title }}" />
		{{ if .Params.socialDescription }}
		<meta name="twitter:description" content="{{ $.Scratch.Get "socialDescription" }}" />
		{{ else }}
		<meta name="twitter:description" content="{{ $.Scratch.Get "description" }}" />
    {{ end }}
    <meta name="twitter:image" content="https://teachinglab.org/images/social/socialcard1.jpg" />
    <title>{{ $.Site.Title }}</title>
    <link rel="icon" type="image/png" href="/images/icons/favicon.png">
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/tl.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700" rel="stylesheet">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>

    {{ block "header" . }}{{ partial "header" . }}{{end}}

    {{ block "main" . }}{{end}}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    <script src="/app.js"></script>
    <script src="/js/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
