{{ define "main" }}
<div id="about-us-page" class="pageWrap">
    <div class="hero-panel-sub"></div>
    <div class="page-title outer-padding">
        <div class="title-box inner-wrapper">
            <div class="title-container">
                    <h2>About Us</h2>
            </div>
        </div>
    </div>
    <div class="section-one">
        <div class="content-well">
            {{ with .Site.Data.about.contents }}
                <h3 class="bold-blue">{{ .sectionHead }}</h3>
            <div class="content-inner">
                <h2>{{ .sectionBoldIntro }}</h2>
                <p>{{ .body }}</p>
            {{ end }}
            </div>
        </div>         
    </div>
<!-- LEADERSHIP ------------------------>    
    <div class="team-bios founders content-well">
        {{ with .Site.Data.about.founders }}
            <h3 class="bold-blue uppercase">LEADERSHIP</h3>
        {{ end }} 
        <div class="content-inner"> 
            {{ range .Site.Data.about.founders.foundersList }} 
                {{ partial "aboutmodals" . }}
            {{ end }}    
        </div>     
    </div>
<!-- STAFF ------------------------>    
    <div class="team-bios staff content-well">
        {{ with .Site.Data.about.team }}
            <h3 class="bold-blue uppercase">STAFF</h3>
        {{ end }} 
        <div class="content-inner"> 
            {{ range .Site.Data.about.founders.teamList }} 
                {{ partial "aboutmodals" . }}
            {{ end }}    
        </div>     
    </div>  
<!-- LEADERSHIP ------------------------>    
    <div class="team-bios board content-well">
        {{ with .Site.Data.about.board }}
            <h3 class="bold-blue uppercase">BOARD</h3>
        {{ end }} 
        <div class="content-inner"> 
            {{ range .Site.Data.about.founders.boardList }} 
                {{ partial "aboutmodals" . }}
            {{ end }}    
        </div>     
    </div>      
<!-- MAP ------------------------------->    
    <div id="map-panel" class="outer-padding">
        <div class="content-well">
            {{ with .Site.Data.mapSVG.contents }}
                <h3 class="bold-blue uppercase">{{ .sectionHead }}</h3>
                <div class="content-inner">
                    <p>{{ .body }}</p>
                </div>
            {{ end }}    
        </div>
            <div class="inner-wrapper">
                {{ partial "mapSVG" . }}
            </div>
    </div>

</div>
{{ end }}