{{ define "main" }}
<div id="opportunities-page" class="pageWrap">
        <div class="page-title">
            <div class="title-box inner-wrapper">
                <div class="title-container">
                    
                        <h2>Opportunities</h2>
                    
                </div>
            </div>
        </div>
        <div id="opp-intro-panel" class="margb80">
            <div class="content-well">
                <div class="content-inner">
                    {{ with .Site.Data.opportunities.contents }}
                        <p>{{ .intro | markdownify }}</p>
                    {{ end }}
                </div>
            </div>    
        </div>
        <div id="jobs-panel">
            {{ range .Site.Data.opportunities.contents.openings }}
            <div class="content-well padw80 margb80">
                <div class="content-inner">
                    
                    <h4 class="uppercase">{{ .jobTitle | markdownify }}</h4>
                    <p>{{ .description | markdownify }}</p>
                  
                </div>
            </div>
            {{ end }}
        </div> 


</div>        
{{ partial "newsletter" . }}
{{ end }}