{{ define "main" }}
<div id="contact-page" class="pageWrap">
        <div class="page-title outer-padding">
            <div class="title-box inner-wrapper">
                <div class="title-container">
                    
                        <h2>Opportunities</h2>
                    
                </div>
            </div>
        </div>
        <div id="opp-intro-panel" class="margb80">
            <div class="content-inner">
                {{ with .Site.Data.opportunities.contents }}
                    <p>{{ .intro }}</p>
                {{ end }}
            </div>
        </div>
        <div id="jobs-panel">
            <div class="content-well margb80">
                <div class="content-inner">
                    {{ range .Site.Data.opportunities.contents.openings }}
                    <h4 class="uppercase">{{ .jobTitle }}</h4>
                    <p>{{ .description }}</p>
                    {{ end }}
                </div>
            </div>
        </div> 


</div>        

{{ end }}