{{ define "main" }}

<div id="blog-page" class="pageWrap">
    <div class="hero-panel-sub"></div>
    <div class="page-title outer-padding">
        <div class="title-box inner-wrapper">
            <div class="title-container">
                    <h2>Blog</h2>
            </div>
        </div>
    </div>
</div>
    
<div id="blogList">
    <div id="content-wrapper">
        <div class="content-well">
            {{ range .Paginator.Pages }}
            <ul id="blogfeed">
                <li class="bloglist-image">
                    <a href="{{ .RelPermalink }}">{{ partial "bloglistimg" . }}</a>
                </li> 
                <li class="blog-excerpt">
                    <h3 class="bloglisttitle"><a href="{{ .RelPermalink }}">{{ .Title}}</a></h3>
                    <p>{{ .Params.listSummary }}</p>
                    <h3 class="morebutton"><a class="read-more" href="{{ .RelPermalink }}">Read more</a></h3>
                </li>
            </ul>    
            {{ end}}
        </div>
    </div>
</div>   
{{ partial "newsletter" . }} 
{{ end }}