{{ define "main" }}

<div id="blog-page" class="pageWrap">
        <div class="hero-panel-sub parallax-window" data-position-y="15px" data-position-x="right" data-parallax="scroll" data-speed="0.7" data-image-src="/images/hands-writing2.jpg"></div>
    <div class="page-title">
        <div class="title-box inner-wrapper">
            <div class="title-container">
                    <h2>Blog</h2>
            </div>
        </div>
    </div>
</div>
    
<div id="blogList">
    
        <div class="content-well">
            {{ range (where .Paginator.Pages "Params.contenttype" ("blog")) }}
            <ul class="blogfeed">
                <li class="bloglist-image" data-aos="fade-right" data-aos-once="true" data-aos-delay="0" data-aos-duration="600">
                    <a href="{{ .RelPermalink }}">{{ partial "bloglistimg" . }}</a>
                </li> 
                <li class="blog-excerpt" data-aos="fade-in" data-aos-once="true">
                    <h3 class="bloglisttitle"><a href="{{ .RelPermalink }}">{{ .Title}}</a></h3>
                    <p>{{ .Params.listSummary }}</p>
                    <h3 class="morebutton"><a class="read-more" href="{{ .RelPermalink }}">Read more</a></h3>
                </li>
            </ul>    
            {{ end}}
        </div>
   
</div>   
{{ partial "newsletter" . }} 
{{ end }}