{{ define "main" }}
    
<div id="blogSingle" class="pageWrap">
    <div id="content-wrapper">
        <div class="content-well">
            <div class="featured-img">    
                {{ partial "singleblogimg" . }} 
            </div>
            <div class="blog-well">  
                <h3>{{ .Title}}</h3>
                <div class="author-meta">
                    <img src="{{ .Params.postauthorimg }}" />
                    <h4 class="blog-author">{{ .Params.postauthorname }}</h4>
                </div>
                {{ .Content }} 
            </div>
        
        </div>
    </div>
</div>    
{{ end }}