{{ define "main" }}

<div id="panel1">
  <div id="content-wrapper">
    <div class="panel-overlay content-well">
        <h1 class="tagline">
          {{ .Site.Data.home.heropanel.tagline }}
        </h1>
    </div>
  </div>
</div>
<div id="panel2">
    <div id="content-wrapper">
      <div class="panel-overlay content-well">
          <p>
            {{ .Site.Data.home.paneltwo.introText }}
          </p>
      </div>
    </div>
  </div>
  <div id="panel3">
      <div id="content-wrapper">
        <div class="panel-overlay content-well">
            <p>
              {{ .Site.Data.home.panelthree.circleTextOne }}
            </p>
            <p>
              {{ .Site.Data.home.panelthree.circleTextTwo }}
            </p>
            <p>
              {{ .Site.Data.home.panelthree.circleTextThree }}
            </p>
        </div>
      </div>
    </div>
  <div id="panel4">
      <div id="content-wrapper">
        <div class="panel-overlay content-well">
            <p>
              {{ .Site.Data.home.panel4hww.header }}
            </p>
        </div>
      </div>
    </div> 

<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
        });
      }
      });
    }
    </script>
{{end}}
