{{ define "main" }}

<div id="panel1">
  <div id="content-wrapper">
    <div class="panel-overlay content-well">
      {{ with .Site.Data.home.contents.tagline }}
        <h1 class="tagline">
          {{ . | markdownify }}
        </h1>
      {{ end }}   
    </div>
  </div>
</div>
<div id="panel2">
    <div id="content-wrapper">
      <div class="panel-overlay content-well">
        {{ range .Site.Data.home.contents.panel2 }}
          <p>
            {{ .paragraph | markdownify }}
          </p>
        {{ end }}   
      </div>
    </div>
  </div>

<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
        });
      }
      });
    }
    </script>
{{end}}
