{{ define "main" }}

<div id="panel1">
  <div id="content-wrapper">
    <div class="panel-overlay content-well">
        <h1 class="tagline">
          {{ .Site.Data.home.heropanel.tagline }}
        </h1>
    </div>
  </div>
</div>
<div id="panel2">
    <div id="content-wrapper">
      <div class="panel-overlay content-well">
        <img class="inpanel-img" src="{{ .Site.Data.home.paneltwo.image }}" />
          <p>
            {{ .Site.Data.home.paneltwo.introText }}
          </p>
      </div>
    </div>
  </div>
  <div id="panel3">
      <div id="content-wrapper">
        <div class="panel-overlay content-well">
            <div class="model-graphic-cell">
              <img class="model-graphic-img" src="{{ .Site.Data.home.panelthree.circleImageOne }}" />
              <span class="model-graphic-text">
                {{ .Site.Data.home.panelthree.circleTextOne }}
              </span>
            </div>
            <div class="model-graphic-cell">
              <img class="model-graphic-img" src="{{ .Site.Data.home.panelthree.circleImageTwo }}" />
              <span class="model-graphic-text">
                {{ .Site.Data.home.panelthree.circleTextTwo }}
              </span>  
            </div>
            <div class="model-graphic-cell">
              <img class="model-graphic-img" src="{{ .Site.Data.home.panelthree.circleImageThree }}" />
              <span class="model-graphic-text">
                {{ .Site.Data.home.panelthree.circleTextThree }}
              </span>  
            </div>
        </div>
      </div>
    </div>
  <div id="panel4">
    <div id="content-wrapper">
      <div class="panel-overlay content-well">
          <h2>
            {{ .Site.Data.home.panel4hww.header }}
          </h2>
          <p>
            {{ .Site.Data.home.panel4hww.body }}
          </p>
          <img class="inpanel-img" src="{{ .Site.Data.home.panel4hww.image }}" />
      </div>
    </div>
  </div>
  <div id="panel5">
    <div id="content-wrapper">
      <div class="panel-overlay content-well">
          <div class="impact-cell">
            <span class="impact-number">
              {{ .Site.Data.home.panel6impact.quantityOne }}
            </span>
            <span class="impact-number">
                {{ .Site.Data.home.panel6impact.textOne }}
            </span>
          </div>
          <div class="impact-cell">
              <span class="impact-number">
                  {{ .Site.Data.home.panel6impact.quantityTwo }}
                </span>
                <span class="impact-number">
                    {{ .Site.Data.home.panel6impact.textTwo }}
                </span>
          </div>
          <div class="impact-cell">
              <span class="impact-number">
                  {{ .Site.Data.home.panel6impact.quantityTwo }}
                </span>
                <span class="impact-number">
                    {{ .Site.Data.home.panel6impact.textTwo }}
                </span>
          </div>  
      </div>
    </div>
  </div>  
  {{ partial "newsletter" . }}
  {{ partial "footer"  }}

<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
        });
      }
      });
    }
    </script>
{{end}}
