#about-us-page {
    .modal-dialog {
        h4.modal-staff {
            letter-spacing: 0.153rem;
            line-height: 1;
        }
    }
    #map-panel {
        background: #EFFBFF;
        .content-wrapper {
           
        }
    }
}