.featured-img {
    max-width: 1000px;
    margin: auto;
    img {
    max-width: 100%;
    }
}
.author-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 16px;
    }
}
.blog-well {
    max-width: 800px;
    margin: auto;
    h2 {
        text-align: center;
    }
}
.publishdate {
    &.subhead {
    text-align: center;
    }
}
.post-navigation {
    width: 100%;
    height: auto;
    min-height: 300px;
    background-color: $orange;
    display: flex;
    justify-content: left;
    .side-header {
        width: 120px;
        background-color: $deepblack;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        p {
            transform: rotate(270deg);
            color: $white;
            white-space: nowrap;
        }
    }
    .adjacent-posts-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .adjacent-posts {
            ul {
                 margin-left: 0.2rem; 
                 margin-right: 1rem;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}
