* {
    box-sizing: border-box;
}

.pageWrap {
    padding-top: 140px;
}

#content-wrapper {
    padding: 0 48px;
}
.content-well {
    max-width: 1200px;
    margin: auto;
}


@import 'nav';
@import 'home';
@import 'single';